<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Base{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        {% block content %}
            <nav class="row">
                <a href="www.google.com" class="col-2 offset-2">Google</a>
                <a href="www.amazon.com" class="col-2">Amazon</a>
                <a href="www.facebook.com" class="col-2">Facebook</a>
                <a href="www.apple.com" class="col-2">Apple</a>
            </nav>
        {% endblock %}
    </div>
</body>
</html>